# dependencies (bun install)
node_modules

# output
out
dist
/assets/
*.tgz

# import
/import/

# test artifacts  
test-results.html  
test-results.json  
html.meta.json.gz  

# common reporters  
playwright-report/  
test-results.xml
junit.xml

# Bun runtime artefacts
bun.lockb
.bun/

# code coverage
coverage
*.lcov

# logs
logs
*.log
report.*.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Wrangler
.wrangler